* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-container {
    position: absolute;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 250px 10px 250px;
    align-items: center;
    height: 4em;
}
nav h4 {
    font-weight: bold;
    color: white;
    font-size: 24px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul li {
    color: white;
}
.hero-main {
    display: flex;
    width: 100%;
    height: 100dvh;
    background-color: #1f2937;
    color: white;
    padding: 0px 250px 0px 250px;
    justify-content: space-between;
    align-items: center;
}
.hero-info {
    flex-direction: column;
}
.hero-info h1 {
    line-height: 1em;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-bottom: 10px;
}
.hero-info p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}
.hero-info a {
    font-size: 24px;
    font-weight: bold;
    padding: 3px 30px 3px 30px;
    border-radius: 7px;
    background-color: #3882f6;
    text-decoration: none;
    color: #f9faf8;
}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: gray;
    width: 450px;
    height: 220px;
}
.information-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 70dvh;
    width: 100%;
}
.information-container h1 {
    color: #1f2937;
    font-weight: bold;
    font-size: 36px;
}
.items-container {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding-top: 50px;
}
.items {
    flex-direction: column;
}
.items .item-img {
    border: 5px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 16px;
    margin-bottom: 10px;
}
.items .info-description {
    display: flex;
    flex-direction: column;
    color: gray;
    text-align: center;
}
.quote-section {
    background-color: #e5e7eb;
    width: 100%;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote-container p {
    text-align: right;
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
}
.quote-container i {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}
.action-section{
    width: 100%;
    height: 70dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-container {
    padding: 50px 100px;
    background-color: #3882f6;
    color: #f9faf8;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.action-description h4 {
    font-weight: bold;
    font-size: 24px;
}
.action-description p {
    font-size: 18px;
    color: #e5e7eb;
}
.action-container a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 8px;
}
.action-container a:hover {
    background-color: white;
    color: #3882f6;
    transition: ease-in-out 300ms;
} 
.footer {
    width: 100%;
    height: 15dvh;
    background-color: #1f2937;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}